<h3>Nous rejoindre</h3>
<p>
  {{ site.address1 }} <br>
  {{ site.address2 }}
</p>
<p>
  Bus <strong>C6</strong>, <strong>C13</strong> (arrêt <strong>Austerlitz</strong>) <br>
  Métro <strong>Croix Rousse</strong>
</p>
<p>
  Proximité Parking <strong>Gros Caillou</strong>
</p>
<div class="map-wrapper">
  <iframe width="600" height="500" id="gmap_canvas"
    src="https://maps.google.com/maps?q=4%20rue%20belfort%20lyon&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0"
    scrolling="no" marginheight="0" marginwidth="0"></iframe>
</div>