{%- if site.events.size > 0 -%}
  <h2 class="event-list-heading">À venir</h2>
  <ul class="event-list">

    
    {%- for event in site.events -%}
      

        <li class="event">
          {%- assign date_format = "%A %d %B" -%}
          {%- assign date_english = event.date | date: date_format -%}
          {%- include date-french.html -%}
          <a href="{{ event.url | relative_url }}">
            {%- if event.image -%}
              <img class="event__img" src="{{ site.baseurl }}/assets/img/events/{{ event.image }}" alt="{{ event.image }}">
            {% else %}
              <img class="event__img" src="{{ site.baseurl }}/assets/img/logo.png" alt="evenement">
            {%- endif -%}
            <div class="event__text">
              <h3 class="event__title">
                {{ event.title | escape }}
              </h3>
              <span class="event__date">{{ date_french }}</span>
            </div>
            <div class="event__overlay">
              <span class="event__arrow">&#8594;</span>
            </div>
          </a>
        </li>

        
    {%- endfor -%}
  </ul>
{%- endif -%}