<footer class="site-footer">
  <data href="{{ "/" | relative_url }}"></data>

  <h2 class="footer-heading">{{ site.title | escape }}</h2>
  <div class="footer-col-wrapper">
    <div class="footer-col footer-col-1">
      {%- include newsletter.html -%}
    </div>

    <div class="footer-col footer-col-2">
      {%- include access.html -%}
    </div>

    <div class="footer-col footer-col-3">
      {%- include contact.html -%}
    </div>
  </div>
  <div class="footer-social">
    <a href="https://www.facebook.com/{{ site.facebook_username | cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#facebook' | relative_url }}"></use></svg></a>
    <a href="{{ 'feed.xml' | relative_url }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg></a>
    <a href="{{ site.wordpress_url }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#wordpress' | relative_url }}"></use></svg></a>
  </div>
  <a class="footer-legal" href="#" onclick="alert('Mentions légales?')">Mentions légales</a>

</footer>
