.calendar {
  margin-bottom: 2em;

  * {
    box-sizing: border-box;
  }

  table, th, td {
    border: none;
  }

  td {
    text-align: center;
  }

  ul {
    list-style-type: none;
  }

  /* Month header */
  .month {
    padding: 70px 25px;
    width: 100%;
    background: $brand-color;
    text-align: center;
  }

  /* Month list */
  .month ul {
    margin: 0;
    padding: 0;
  }

  .month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  /* Previous button inside month header */
  .month .prev {
    float: left;
    padding-top: 10px;
  }

  /* Next button */
  .month .next {
    float: right;
    padding-top: 10px;
  }

  /* Today */
  .active {
    color: $brand-color;
  }

  &__event {
    position: relative;
    display: inline-block;
    width: 36%;
    height: 0;
    padding: 18% 0;
    border-radius: 50%;
    line-height: 0;
    background-color: $brand-color;
    color: white;
    transition: all ease-in 0.1s;

    &:visited, &:active {
      color: white;
    }

    &:hover {
      color: white;
      text-decoration: none;
    }

    @include media-query($on-laptop) {
      border: solid 1px $brand-color;
      border-radius: 10%;
      background-color: transparent;
      color: $brand-color;
      &:visited, &:active {
        color: $brand-color;
      }
      &:hover {
        color: $brand-color;
      }
    }

    @include media-query($on-palm) {
      border: none;
      text-decoration: underline;
    }
  }

}