/**
 * Site header
 */

.site-header {
  display: grid;
  grid-template-columns: 5em 1fr;
  grid-template-rows: 5em 2em 1auto;
  //gap: 1px 1px;
  grid-template-areas: 
    "logo title"
    ". kicker"
    "menu menu";

  &::before {
    content: '';
    position: absolute;
    top: 21%;
    left: 50%;
    width: 120vw;
    height: 30%;
    transform: translate(-50%, -130%) rotate(1.2deg);
    background: $background-alt-color;
    z-index: -1;
  }

  @include media-query($on-palm) {
    &::before {
      top: 18%;
      transform: translate(-50%, -130%) rotate(3deg);
    }
  }
}

.site-logo {
  grid-area: logo;
  height: 4em;
  place-self: center end;
  margin-top: 1em;
  img {
    height: 4em;
    width: auto;
  }
}

.site-title {
  grid-area: title;
  place-self: center;
  font-family: $title-font-family;
  font-size: 3em;
  &:visited, &:hover {
    color: $text-color;
    text-decoration: none;
  }

  @include media-query($on-palm) {
    .site-title {
      place-self: center start;
    }
  }
}

.site-kicker {
  grid-area: kicker;
  place-self: start center;
  font-size: .8em;
  margin-bottom: 2em;
}

.site-nav {
  grid-area: menu;
  place-self: center;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .menu-text {
    display: none;
  }

  .trigger {
    place-self: center;
  }

  .page-link {
    color: $text-color;
    font-size: 1.2em;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  @include media-query($on-palm) {
    background-color: $background-alt-color;
    text-align: center;
    width: 8em;

    label[for="nav-trigger"] {
      display: block;
      place-self: center;
      width: 8em;
      height: 36px;
      text-align: center;
      z-index: 2;
      cursor: pointer;
    }

    .menu-text {
      display: block;
      float: left;
      width: 3.25em;
      height: 26px;
      padding-right:.75em;
      padding-top: 5px;
      text-transform: uppercase;
    }

    .menu-icon {
      display: block;
      float: left;
      width: 3.25em;
      height: 26px;
      padding-left:.75em;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      width: 22em;
      transform: translateX(-7em);
      padding-bottom: 5px;
      background: $background-alt-color;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 10px;
    }
  }
}
.event-list {
  list-style-type: none;
}

.event {
  border-bottom: solid $grey-color 1px;
  margin-bottom: 4em;
}

.event__img {
  max-width: 300px;
  height: auto;
}