---
layout: default
---
<article class="single-event wrapper" itemscope itemtype="http://schema.org/Blogposting">

  <header class="single-event__header">
    <h1 class="single-event__title" itemprop="name headline">{{ page.title | escape }}</h1>
    <div class="single-event__img-wrapper">
      <img class="single-event__heading-img" src="{{ site.baseurl }}/assets/img/events/{{ page.img }}" alt="{{ page.img }}">
    </div>
    <time class="single-event__date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {%- assign date_format = "%A %d %B" -%}
      {%- assign date_english = page.date | date: date_format -%}
      {%- include date-french.html -%}
      {{ date_french }}, à {{ page.horaire | default: "20h" }}
    </time>
  </header>

  <div class="single-event__content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if page.tickets %}
    <div class="single-event__order">
      <a href="{{ page.tickets }}">Tarif : {{ page.tarif | default: "5€" }}<span class="single-event__order--sub"> (+ adhésion à l'association)</span></a>
    </div>
  {% else %}
    <div class="single-event__order">
      <a href="#">Tarif : {{ page.tarif | default: "5€" }}<span class="single-event__order--sub"> (+ adhésion à l'association)</span></a>
    </div>  
  {% endif %}
</article>

{% if page.tickets %}  
  <div class="wrapper single-event__helloasso">
    <iframe id="haWidget" allowtransparency="true" scrolling="auto" src="{{ page.tickets }}/widget" style="width:100%;height:900px;border:none;" onload="window.scroll(0, this.offsetTop)"></iframe>
  </div>
{% else %}
  <div class="wrapper single-event__helloasso">
    Billeterie à venir
  </div>
{% endif %}