---
layout: default
---

<div class="home wrapper">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- for month in site.months -%}
    <a href="{{ month.url }}">{{ month.title }}</a><br>
  {%- endfor -%}

  {%- if site.events.size > 0 -%}
    <h2 class="event-list-heading">{{ page.list_title | default: "À venir" }}</h2>
    <ul class="event-list">
      {%- assign sorted_events = site.events | sort: 'date' | reverse -%}
      {%- for event in sorted_events limit: 5 -%}
      <li class="event">
        {%- assign date_format = "%A %d %B" -%}
        {%- assign date_english = event.date | date: date_format -%}
        {%- include date-french.html -%}
        <a href="{{ event.url | relative_url }}">
          {%- if event.img -%}
            <img class="event__img" src="{{ site.baseurl }}/assets/img/events/{{ event.img }}" alt="{{ event.img }}">
          {% else %}
            <img class="event__img" src="{{ site.baseurl }}/assets/img/logo.png" alt="evenement">
          {%- endif -%}
          <div class="event__text">
            <h3 class="event__title">
              {{ event.title | escape }}
            </h3>
            <span class="event__date">{{ date_french }}</span>
          </div>
          <div class="event__overlay">
            <span class="event__arrow">&#8594;</span>
          </div>
        </a>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
